<p> Cocktails </p>



<div class="container">

  <div class="cards">
   <% @cocktails.each do |cocktail| %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg);">
        <h2><%= cocktail.name %> <%= link_to "show", cocktail =%> </h2>
    </div>

    <% end %>
  </div>
</div>






<!--  -->
