<h1>Create your new Cocktail</h1>

<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>

   <div class="form-actions">
    <%= f.button :submit %>
  </div>
<%= link_to 'Back', cocktails_path %>

<% end %>



